---
import type { CollectionEntry } from 'astro:content';

import { Icon } from '@/components/icon';
import Linkable from '@/components/linkable.astro';
import Popover from '@/components/popover.astro';
import { cn } from '@/utils/cn';
import { markdownToHtml } from '@/utils/markdown-to-html';
import { removeTopElement } from '@/utils/remove-top-element';

interface Props {
  favoriteEntry: CollectionEntry<'favorites'>;
  icon?: string;
  withSource?: boolean;
}

const {
  favoriteEntry: { data, body, render },
  icon,
  withSource,
} = Astro.props;

const Description = body.trim().length > 0 && (await render()).Content;
const subtitle = data.subtitle && removeTopElement(markdownToHtml(data.subtitle));
const rootClass = cn(
  'relative flex overflow-hidden rounded border border-color-border py-3 pl-4',
  Description ? 'pr-8' : 'pr-4',
);
const url = withSource && new URL(data.url);
---

<li class={rootClass}>
  {icon && <Icon name={icon} class="my-0.5 -ml-1 mr-1.5 size-4 shrink-0 text-color-icon-dark sm:size-5" />}
  <div class="flex w-full flex-col">
    <Linkable class="text-sm font-medium leading-snug text-color-text-title sm:text-base" href={data.url}>
      {data.title}
    </Linkable>
    {
      subtitle && (
        <div
          class="mt-0.5 text-sm text-color-text-primary sm:text-base [&_a:not(:hover)]:no-underline"
          set:html={subtitle}
        />
      )
    }
    {
      url && (
        <Linkable class={cn('ml-auto text-sm text-color-text-secondary', Description && '-mr-4')} href={url.origin}>
          {url.hostname}
        </Linkable>
      )
    }
  </div>
  {
    Description && (
      <>
        <Popover>
          <button
            slot="trigger"
            class="absolute -right-px -top-px flex size-6 items-center justify-center rounded-bl bg-color-bg-main transition-colors hover:bg-color-bg-main/80"
          >
            <Icon name="fa6-solid:info" class="size-3 text-color-icon-main" />
          </button>
          <Description />
        </Popover>
      </>
    )
  }
</li>
