---
import type { CollectionEntry } from 'astro:content';

import DateRange from '@/components/date-range.astro';
import Details from '@/components/details.astro';
import Img from '@/components/img.astro';
import RenderedContent from '@/components/rendered-content.astro';
import { RelatedSkills } from '@/components/skills';
import { markdownToHtml } from '@/utils/markdown-to-html';
import { removeTopElement } from '@/utils/remove-top-element';

interface Props {
  entry: CollectionEntry<'education'>;
}

const {
  entry: { data, body, render },
} = Astro.props;
---

<li>
  <div class="mb-5 flex items-start gap-4">
    {
      data.image && (
        <Img
          class="hidden size-20 rounded object-contain sm:block"
          src={data.image}
          alt={data.institution}
          width={160}
          height={160}
        />
      )
    }
    <div>
      <h3 class="text-lg font-bold text-color-text-title sm:text-xl">
        {data.title}
      </h3>
      <div
        class="text-sm font-medium text-color-text-title sm:text-base"
        set:html={removeTopElement(markdownToHtml(data.institution))}
      />
      <DateRange
        class="text-sm font-normal text-color-text-primary sm:text-base"
        startDate={data.startDate}
        endDate={data.endDate}
      />
    </div>
  </div>
  {data.details && <Details class="mb-3" details={data.details} />}
  {body.trim().length > 0 && <RenderedContent {render} />}
  {data.skills && <RelatedSkills class="mt-5" skillRefs={data.skills} />}
</li>
