---
import type { CollectionEntry } from 'astro:content';
import { intervalToDuration } from 'date-fns';

import type { ContextSlice } from '@/types/context';
import { getGlobalContext } from '@/utils/get-global-context';
import { joinNonEmpty } from '@/utils/join-non-empty';
import Details from '@/web/components/details.astro';
import { Icon } from '@/web/components/icon';
import Img from '@/web/components/img.astro';
import RenderedContent from '@/web/components/rendered-content.astro';

interface Props {
  entry: CollectionEntry<'basics'> | Promise<CollectionEntry<'basics'>>;
}

const { entry } = Astro.props;
const { data: basics, body, render } = await entry;

const context = getGlobalContext<ContextSlice<'pdf'>>(Astro);

const details = [
  basics.birthdate && {
    label: 'Age',
    value: `${intervalToDuration({ start: basics.birthdate, end: new Date() }).years} years`,
  },
  basics.email && { label: 'Email', value: `[${basics.email}](mailto:${basics.email})` },
  basics.phone && { label: 'Phone', value: `[${basics.phone}](tel:${basics.phone})` },
  (basics.city || basics.country) && { label: 'Location', value: joinNonEmpty([basics.city, basics.country], ', ') },
  ...(basics.details || []),
].filter(Boolean);
---

<section>
  <div class="flex flex-col items-center lg:flex-row lg:items-start">
    {
      basics.image && (
        <Img
          loading="eager"
          class="size-28 h-fit rounded-xl lg:size-20"
          src={basics.image}
          alt={basics.name}
          width={160}
          height={160}
        />
      )
    }
    <div class="mt-4 self-center text-center lg:ml-4 lg:mt-0 lg:space-y-0.5 lg:text-left">
      <h1 class="text-2xl font-black text-color-text-title sm:text-3xl">{basics.name}</h1>
      <h2 class="text-lg font-medium text-color-text-title sm:text-xl">{basics.label}</h2>
    </div>
    <div class="mt-3 flex flex-col items-center gap-4 lg:ml-auto lg:mt-0 lg:flex-row lg:items-start lg:gap-3 lg:pl-4">
      <ul class="flex w-full gap-3">
        {
          basics.socials.map((social) => (
            <li class="flex-1">
              <a
                aria-label={social.label}
                href={social.url}
                class="flex h-8 min-w-8 items-center justify-center rounded bg-color-bg-main transition-colors hover:bg-color-bg-main/80 lg:size-9"
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon class="size-4 text-color-icon-dark" name={social.icon} aria-hidden />
              </a>
            </li>
          ))
        }
      </ul>
      {
        context.pdf ? (
          <a
            href={context.pdf.path}
            class="flex h-9 items-center text-nowrap rounded-md bg-color-primary px-4 font-medium text-color-primary-contrast transition-colors hover:bg-color-primary/90"
            download={context.pdf.filename}
          >
            {context.pdf.label}
          </a>
        ) : null
      }
    </div>
  </div>
  {body.trim().length > 0 && <RenderedContent class="mt-8 lg:mt-4" {render} />}
  {details.length > 0 && <Details class="mt-6" {details} />}
</section>
