---
import type { ComponentProps } from 'astro/types';

import DateRange from '@/components/date-range.astro';
import Img from '@/components/img.astro';
import type { AsyncEntry } from '@/types/entries';
import type { ImageProps } from '@/types/image';
import type { Configurable } from '@/utils/configurable';
import { shouldDisplay } from '@/utils/configurable';
import { removeTopElement } from '@/utils/html-string';
import { markdownToHtml } from '@/utils/markdown-to-html';
import Details from '@/web/components/details.astro';
import RenderedContent from '@/web/components/rendered-content.astro';
import { RelatedSkills } from '@/web/components/skills';

interface Props {
  /** An entry from the `projects` collection. */
  entry: AsyncEntry<'projects'>;

  /** Loading strategy passed to the <Img /> component. */
  loading?: ImageProps['loading'];

  /** Configuration for project related skills. Pass `null` to hide related skills. */
  relatedSkills?: Configurable<Pick<ComponentProps<typeof RelatedSkills>, 'label' | 'include' | 'exclude'>>;
}

const { entry, loading, relatedSkills } = Astro.props;
const { data: project, body, render } = await entry;
---

<div>
  <div class="mb-5 flex items-start gap-4">
    {
      project.image && (
        <Img
          class="hidden size-20 rounded object-contain sm:block"
          src={project.image}
          alt={project.name}
          width={160}
          height={160}
          {loading}
        />
      )
    }
    <div>
      <div class="flex gap-1.5">
        {
          project.image && (
            <Img
              class="my-1 size-5 rounded object-contain sm:hidden"
              src={project.image}
              alt={project.name}
              width={40}
              height={40}
              {loading}
            />
          )
        }
        <h3 class="text-lg font-bold text-color-text-title sm:text-xl">
          {project.name}
        </h3>
      </div>
      <div
        class="text-sm font-medium text-color-text-title sm:text-base"
        set:html={removeTopElement(markdownToHtml(project.description))}
      />
      <DateRange
        class="text-sm font-normal text-color-text-primary sm:text-base"
        startDate={project.startDate}
        endDate={project.endDate}
      />
    </div>
  </div>
  {project.details && <Details class="mb-3" details={project.details} />}
  {body.trim().length > 0 && <RenderedContent {render} />}
  {
    project.skills && shouldDisplay(relatedSkills) && (
      <RelatedSkills class="mt-5" skillRefs={project.skills} {...relatedSkills} />
    )
  }
</div>
