---
import { getCollection, getEntry } from 'astro:content';
import { enUS } from 'date-fns/locale';

import Articles from '@/components/articles.astro';
import Basics from '@/components/basics.astro';
import Books from '@/components/books.astro';
import Interests from '@/components/interests.astro';
import Metadata from '@/components/metadata.astro';
import References from '@/components/references.astro';
import Section from '@/components/section.astro';
import Skills from '@/components/skills.astro';
import Subsection from '@/components/subsection.astro';
import Timeline from '@/components/timeline.astro';
import { context } from '@/context';
import { selectEntriesBySlug, selectEntriesBySlugPrefix } from '@/utils/select-entries-by-slug';

context.initialize({
  locale: enUS,
  dateFormat: 'MMMM yyyy',
});

const metadata = await getEntry('metadata', 'main');
const basics = await getEntry('basics', 'main');
const socials = await getCollection('socials');

const skills = await getCollection('skills');
// prettier-ignore
const technicalSkills = selectEntriesBySlug(skills, ['astro', 'drizzle-orm', 'eslint', 'next', 'playwright', 'postgresql', 'react-testing-library', 'react', 'shadcn', 'tailwind', 'tanstack-query', 'trpc', 'typescript', 'vitest']);
const toolSkills = selectEntriesBySlug(skills, ['neon', 'sentry', 'stripe', 'vercel']);
const languageSkills = selectEntriesBySlug(skills, ['english', 'spanish']);

const education = await getCollection('education');
const work = await getCollection('work');
const projects = await getCollection('projects');
const references = await getCollection('references');
const interests = await getCollection('interests');

const favorites = await getCollection('favorites');
const bookFavorites = selectEntriesBySlugPrefix(favorites, 'books');
const articleFavorites = selectEntriesBySlugPrefix(favorites, 'articles');
---

<!doctype html>
<html lang={context.getLang()}>
  <head>
    <Metadata metadataEntry={metadata} />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>
  <body class="bg-background text-foreground antialiased sm:p-6 md:p-8 lg:p-10">
    <main class="mx-auto w-full max-w-screen-xl space-y-16 bg-white p-6 shadow-2xl sm:rounded-3xl sm:p-10">
      <Basics basicsEntry={basics} socialEntries={socials} />
      <Section title="Skills">
        <Subsection title="Technologies">
          <Skills entries={technicalSkills} />
        </Subsection>
        <Subsection title="Tools">
          <Skills entries={toolSkills} />
        </Subsection>
        <Subsection title="Languages">
          <Skills entries={languageSkills} />
        </Subsection>
      </Section>
      <Section title="Education">
        <Timeline entries={education} />
      </Section>
      <Section title="Work">
        <Timeline entries={work} />
      </Section>
      <Section title="Projects">
        <Timeline entries={projects} />
      </Section>
      <Section title="References">
        <References entries={references} />
      </Section>
      <Section title="Interests">
        <Interests entries={interests} />
      </Section>
      <Section title="Favorites">
        <Subsection title="Books I read">
          <Books entries={bookFavorites} icon="material-symbols:book-2" />
        </Subsection>
        <Subsection title="Articles I come back to">
          <Articles entries={articleFavorites} icon="material-symbols:article" />
        </Subsection>
      </Section>
    </main>
    <style is:global>
      :root {
        --background: 210, 40%, 96%;
        --foreground: 222.2 84% 4.9%;

        font-feature-settings:
          'liga' 1,
          'calt' 1; /* fix for Chrome */

        --font-sans: Inter;
        @supports (font-variation-settings: normal) {
          --font-sans: InterVariable;
        }
      }

      .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
      }
    </style>
  </body>
</html>
