---
import type { CollectionEntry } from 'astro:content';

import Favicon from './favicon.astro';

interface Props {
  entry: CollectionEntry<'metadata'> | Promise<CollectionEntry<'metadata'>>;
}

const { entry } = Astro.props;
const { data: meta } = await entry;
---

<title>{meta.title}</title>
<meta name="description" content={meta.description} />
<Favicon src={meta.favicon} />
<meta property="og:title" content={meta.openGraph?.title ?? meta.title} />
<meta property="og:description" content={meta.openGraph?.description ?? meta.description} />
{meta.openGraph?.image && <meta property="og:image" content={meta.openGraph.image.src} />}
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
