---
import Linkable from '@/components/linkable.astro';
import { Icon } from '@/pdf/components/icon';
import type { AsyncEntry } from '@/types/entries';
import { markdownToHtml } from '@/utils/markdown-to-html';
import { removeTopElement } from '@/utils/remove-top-element';

interface Props {
  entry: AsyncEntry<'favorites'>;
  icon?: string;
  withSource?: boolean;
}

const { entry, icon, withSource } = Astro.props;
const { data: favorite } = await entry;

const subtitle = favorite.subtitle && removeTopElement(markdownToHtml(favorite.subtitle));
const url = withSource && new URL(favorite.url);
---

<div class="relative flex overflow-hidden">
  {icon && <Icon name={icon} class="my-0.5 mr-1.5 size-4 text-color-icon-dark" />}
  <div class="flex w-full">
    <Linkable class="text-sm font-medium leading-snug text-color-text-title" href={favorite.url}>
      {favorite.title}
    </Linkable>
    {
      subtitle && (
        <div class="ml-1 flex gap-1 text-sm text-color-text-primary [&_a:not(:hover)]:no-underline">
          <div class="">—</div>
          <div class="" set:html={subtitle} />
        </div>
      )
    }
    {
      url && (
        <Linkable class="ml-auto text-sm text-color-text-secondary" href={url.origin}>
          {url.hostname}
        </Linkable>
      )
    }
  </div>
</div>
