---
import { getCollection, getEntry } from 'astro:content';
import { enUS } from 'date-fns/locale';

import { Achievements } from '@/pdf/components/achievements';
import Basics from '@/pdf/components/basics.astro';
import { Favorites } from '@/pdf/components/favorites';
import { Interests } from '@/pdf/components/interests';
import { References } from '@/pdf/components/references';
import { Section, Subsection } from '@/pdf/components/section';
import { Skills } from '@/pdf/components/skills';
import { Timeline } from '@/pdf/components/timeline';
import MainLayout from '@/pdf/layouts/main-layout.astro';
import { initializePdfContext } from '@/pdf/utils/initialize-pdf-context';
import { selectEntriesBySlug, selectEntriesBySlugPrefix } from '@/utils/select-entries-by-slug';

initializePdfContext(Astro, {
  locale: enUS,
  dateFormat: 'MMMM yyyy',
  website: '/',
});

const basics = await getEntry('basics', 'main-pdf');

const skills = await getCollection('skills');
// prettier-ignore
const technicalSkills = selectEntriesBySlug(skills, ['astro', 'drizzle-orm', 'eslint', 'next', 'playwright', 'postgresql', 'react-testing-library', 'react', 'shadcn', 'tailwind', 'tanstack-query', 'trpc', 'typescript', 'vitest']);
const toolSkills = selectEntriesBySlug(skills, ['neon', 'sentry', 'stripe', 'vercel']);
const languageSkills = selectEntriesBySlug(skills, ['english', 'spanish']);

const education = await getCollection('education');
const work = await getCollection('work');
const projects = await getCollection('projects');
const references = await getCollection('references');
const achievements = await getCollection('achievements');
const interests = await getCollection('interests');

const favorites = await getCollection('favorites');
const bookFavorites = selectEntriesBySlugPrefix(favorites, 'books');
const articleFavorites = selectEntriesBySlugPrefix(favorites, 'articles');
const peopleFavorites = selectEntriesBySlugPrefix(favorites, 'people');
---

<MainLayout>
  <Basics basicsEntry={basics} />
  <Section title="Skills" contentClass="space-y-4">
    <Subsection title="Technologies">
      <Skills withLevel entries={technicalSkills} />
    </Subsection>
    <Subsection title="Tools">
      <Skills entries={toolSkills} />
    </Subsection>
    <Subsection title="Languages">
      <Skills entries={languageSkills} />
    </Subsection>
  </Section>
  <Section title="Work">
    <Timeline entries={work} />
  </Section>
  <Section title="Projects">
    <Timeline entries={projects} />
  </Section>
  <Section title="References">
    <References entries={references} />
  </Section>
  <Section title="Achievements">
    <Achievements entries={achievements} class="space-y-4" />
  </Section>
  <Section title="Education">
    <Timeline entries={education} />
  </Section>
  <Section title="Favorites" contentClass="space-y-6">
    <Subsection title="Books I read">
      <Favorites entries={bookFavorites} icon="material-symbols:book-2" />
    </Subsection>
    <Subsection title="Articles I come back to">
      <Favorites withSource entries={articleFavorites} icon="material-symbols:article" />
    </Subsection>
    <Subsection title="People I learn from">
      <Favorites entries={peopleFavorites} icon="material-symbols:person" class="grid-cols-4" />
    </Subsection>
  </Section>
  <Section title="Interests">
    <Interests entries={interests} />
  </Section>
</MainLayout>
