---
import type { CollectionEntry } from 'astro:content';
import { nanoid } from 'nanoid';

import Icon from './icon.astro';
import Linkable from './linkable.astro';

interface Props {
  skillEntry: CollectionEntry<'skills'>;
}

const {
  skillEntry: { data: skill, body: skillBody, render: renderSkill },
} = Astro.props;

if (!skill.level) {
  throw new Error(`Skill "${skill.name}" is missing a "level" field.`);
}

const id = nanoid();
const [level, maxLevel] = skill.level.split('/').map(Number) as [number, number];
const Description = skillBody.trim().length > 0 && (await renderSkill()).Content;
---

<div class="flex flex-col gap-1.5" style={skill.color && { color: skill.color }}>
  <div class="flex items-start gap-1.5">
    {skill.icon && <Icon name={skill.icon} class="mt-1 size-4" />}
    <Linkable class="text-base font-medium text-slate-700" href={skill.url}>
      {skill.name}
    </Linkable>
    {
      Description && (
        <>
          <button class="ml-auto" popovertarget={`skill-bar-popover-${id}`}>
            <Icon
              name="fa6-solid:circle-info"
              class="mt-1 size-4 text-slate-400 transition-colors hover:text-slate-400/80"
            />
          </button>
          <div
            popover
            id={`skill-bar-popover-${id}`}
            class="prose max-w-96 rounded-lg border border-slate-200 bg-white px-4 py-3 text-slate-700 shadow-md"
          >
            <Description />
          </div>
        </>
      )
    }
  </div>
  <div>
    <div class="flex gap-1">
      {
        Array.from({ length: maxLevel }, (_, i) => (
          <div class={`h-2 flex-1 rounded-sm ${i < level ? 'bg-slate-500' : 'bg-slate-200'}`} />
        ))
      }
    </div>
  </div>
</div>
