---
import type { HTMLAttributes } from 'astro/types';

import type { AsyncEntry } from '@/types/entries';
import RenderedContent from '@/web/components/rendered-content.astro';

import BasicsDetails from './basics-details.astro';
import MyImage from './my-image.astro';
import PdfButton from './pdf-button.astro';
import Socials from './socials.astro';

interface Props extends HTMLAttributes<'section'> {
  /** An entry from the `basics` collection. */
  entry: AsyncEntry<'basics'>;
}

const { entry, ...props } = Astro.props;
const { data: basics, body, render } = await entry;
---

<section {...props}>
  <div class="flex flex-col items-center lg:flex-row lg:items-start">
    <MyImage size={224} class="size-28 lg:size-20" basics={basics} />
    <div class="mt-4 self-center text-center lg:ml-4 lg:mt-0 lg:space-y-0.5 lg:text-left">
      <h1 class="text-2xl font-black text-color-text-title sm:text-3xl">{basics.name}</h1>
      {basics.label && <h2 class="text-lg font-medium text-color-text-title sm:text-xl">{basics.label}</h2>}
    </div>
    <div class="mt-3 flex flex-col items-center gap-4 lg:ml-auto lg:mt-0 lg:flex-row lg:items-start lg:gap-3 lg:pl-4">
      <Socials listClass="w-full" itemClass="h-8 min-w-8 lg:size-9 flex-1" socials={basics.socials} />
      <PdfButton class="w-full" />
    </div>
  </div>
  <div class="flex flex-col lg:flex-col-reverse">
    {body.trim().length > 0 && <RenderedContent class="mt-8 lg:mt-4" {render} />}
    <BasicsDetails class="mt-6" basics={basics} />
  </div>
</section>
