---
import type { CollectionEntry } from 'astro:content';

import DateRange from '@/components/date-range.astro';
import Details from '@/pdf/components/details.astro';
import RenderedContent from '@/pdf/components/rendered-content.astro';
import { RelatedSkills } from '@/pdf/components/skills';
import { markdownToHtml } from '@/utils/markdown-to-html';
import { removeTopElement } from '@/utils/remove-top-element';
import Img from '@/pdf/components/img.astro';

interface Props {
  entry: CollectionEntry<'education'>;
}

const {
  entry: { data, body, render },
} = Astro.props;
---

<li>
  <div class="mb-4 flex items-start gap-3">
    {
      data.image && (
        <Img
          class="size-[60px] rounded object-contain"
          src={data.image}
          alt={data.institution}
          width={128}
          height={128}
        />
      )
    }
    <div>
      <h3 class="text-base font-black leading-tight text-color-text-title">
        {data.title}
      </h3>
      <div
        class="text-sm font-medium text-color-text-title"
        set:html={removeTopElement(markdownToHtml(data.institution))}
      />
      <DateRange
        class="text-sm font-normal text-color-text-primary"
        startDate={data.startDate}
        endDate={data.endDate}
      />
    </div>
  </div>
  {data.details && <Details class="mb-2" details={data.details} />}
  {body.trim().length > 0 && <RenderedContent {render} />}
  {data.skills && <RelatedSkills class="mt-3" skillRefs={data.skills} />}
</li>
