---
import type { CollectionEntry } from 'astro:content';

import DateRange from '@/components/date-range.astro';
import Img from '@/components/img.astro';
import Details from '@/pdf/components/details.astro';
import RenderedContent from '@/pdf/components/rendered-content.astro';
import { RelatedSkills } from '@/pdf/components/skills';
import { markdownToHtml } from '@/utils/markdown-to-html';
import { removeTopElement } from '@/utils/remove-top-element';

interface Props {
  entry: CollectionEntry<'education'> | CollectionEntry<'work'> | CollectionEntry<'projects'>;
}

const {
  entry: { data, body, render },
} = Astro.props;

const isEducation = 'institution' in data;
const isWork = 'organization' in data;

const { title, description, alt } = (() => {
  if (isEducation) {
    return { title: data.title, description: data.institution, alt: data.institution };
  } else if (isWork) {
    return { title: data.position, description: data.organization, alt: data.organization };
  } else {
    return { title: data.name, description: data.description, alt: data.name };
  }
})();
---

<li>
  <div class="mb-4 flex break-inside-avoid items-start gap-3">
    {
      data.image && (
        <Img class="size-[60px] rounded object-contain" src={data.image} alt={alt} width={128} height={128} />
      )
    }
    <div>
      <h3 class="text-base font-black leading-tight text-color-text-title">
        {title}
      </h3>
      <div class="text-sm font-medium text-color-text-title" set:html={removeTopElement(markdownToHtml(description))} />
      <DateRange
        class="text-sm font-normal text-color-text-primary"
        startDate={data.startDate}
        endDate={data.endDate}
      />
    </div>
  </div>
  {data.details && <Details class="mb-2" details={data.details} />}
  {body.trim().length > 0 && <RenderedContent {render} />}
  {data.skills && <RelatedSkills class="mt-4" skillRefs={data.skills} />}
</li>
